{% extends 'myauth/base.html' %}

{% block title %}About Me{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Страница пользователя: {{ user.username }}</h1>

        <div>
            <strong>Биография:</strong>
            {% if user.profile.bio %}
                {{ user.profile.bio }}
            {% else %}
                Не указана
            {% endif %}
        </div>

        <div style="margin-top: 20px;">
            <h3>Ваш аватар:</h3>
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }} avatar" style="max-width: 250px; border-radius: 8px;">
            {% else %}
                <p>Аватарки в профиле пользователя нет.</p>
            {% endif %}
        </div>

        <div style="margin-top: 20px;">
            <a href="{% url 'myauth:profile_update' pk=user.profile.pk %}">Изменить профиль и загрузить аватар</a>
        </div>
    {% else %}
        <h2>Вы не авторизованы.</h2>
        <p>Пожалуйста, <a href="{% url 'myauth:login' %}">войдите в систему</a> или <a href="{% url 'myauth:register' %}">зарегистрируйтесь</a>.</p>
    {% endif %}
{% endblock %}
