{% extends 'shopapp/base.html' %}
{% block content %}
    <h1>Заказы</h1>
    <ul>
        {% for order in orders %}
            <li>
                Заказ #{{ order.pk }} | Покупатель: {{ order.user.username }}<br>
                Товары:
                <ul>
                    {% for product in order.products.all %}
                        <li>{{ product.name }}</li>
                    {% endfor %}
                </ul>
            </li>
            <hr>
        {% endfor %}
    </ul>
    <a href="{% url 'shopapp:index' %}">Назад</a>
{% endblock %}
