{% extends 'shopapp/base.html' %}

{% block title %}Product Details{% endblock %}

{% block body %}
  <h1>{{ product.name }}</h1>
  <p>Price: ${{ product.price }}</p>
  <p>Description: {{ product.description }}</p>
  <p>Discount: {{ product.discount }}</p>

  <div style="margin-top: 20px;">
      <a href="{% url 'shopapp:product_update' pk=product.pk %}">Обновить продукт</a> | 
      <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Архивировать продукт</a>
  </div>
  <br>
  <div>
      <a href="{% url 'shopapp:products_list' %}">Назад к списку продуктов</a>
  </div>
{% endblock %}
