{% extends 'shopapp/base.html' %}

{% block title %}
  Shop Index
{% endblock %}

{% block body %}
  <h1>Hello Shop Index!</h1>

  <div>
    <ul>
      {% for name, price in products %}
        <li>{{ name }} for ${{ price }}</li>
      {% empty %}
        <li>No products here</li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <p>Time running: {{ time_running }}</p>
  </div>

  <hr style="margin: 20px 0;">

  <div>
      <h3>Разделы практической работы:</h3>
      <ul>
          <li><a href="{% url 'shopapp:products_list' %}">Перейти к списку продуктов</a></li>
          <li><a href="{% url 'shopapp:orders_list' %}">Перейти к списку заказов</a></li>
      </ul>
  </div>
{% endblock %}
